<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Gender</th>
      <th scope="col">Address</th>
      <th scope="col">Contact No</th>
      <th scope="col">Email Address</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.genderType}}</td>
      <td>{{user.address}}</td>
      <td>{{user.contactNo}}</td>
      <td>{{user.emailAddress}}</td>
      <td>
        <a [routerLink]="['detail',user.id]" class="btn btn-primary">Detail</a>
        <a [routerLink]="['edit',user.id]" class="btn btn-secondary">Edit</a>
        <button (click) = "delete(user.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>